<div class="flex justify-center items-center bg-purple-500 w-screen h-screen">

    <div class="flex flex-col font-light text-sm text-slate-200">
        <div class="flex gap-4">
            <h1 class="text-6xl"> Hi, I'm </h1>
            <span class="text-amber-400 font-bold text-6xl"> Angelo </span>

            <div class="animate-spin text-6xl w-2 h-1 p-0 m-0 flex items-center justify-center">
                <span> . </span>
            </div>
        </div>
        <span class="font-medium text-sm text-5xl"> Mobile & Web Developer </span>
    </div>
</div>